.git
.gitignore
*.log
*.tmp
*.jar
build/
.gradle/
bin/
out/
.idea/
*.iml
.vscode/
target/
*.class
*.war
*.ear
*.http
.DS_Store
Thumbs.db
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*~
.project
.classpath
.settings/
.metadata/